body {
  margin: 0px;
  font-family: ui-sans-serif, system-ui;
}

a{
  text-decoration: none;
}
a:hover{
    color: #0BEAA1 !important
}
select:hover{
  color: #0BEAA1 !important
}
.slider-images {
  max-width: 300px;
}
@media screen and (min-width: 1024px) {
  .slider-images {
    max-width: 400px;
    max-height: 300px;
  }
}
@media screen and (min-width: 1536px) {
    .slider-images {
      max-width: 500px;
      max-height: 400px;
    }
  }
